body {
    background: linear-gradient(to right,rgba(251, 2, 2, 0.507),#d41d88);
    align-content: center;
}
canvas {
    border: 4px dotted black;
    margin-left: 450px;
    border-radius: 20px;
    background-color: antiquewhite;
}

.textview {
    margin-top : 50px;
    margin-left: 450px;
    width : 354px;
    height : 80px;
    font-size: 45px;
    border-radius: 20px;
    border: 4px solid black;
}